<div class=" p-4 grid grid-cols-1 md:grid-cols-2 grid-flow-row  gap-4 justify-stretch">
    <div class="relative">
        <div class=" flex flex-col w-full min-h-[12.5rem] \
          bg-white rounded-lg shadow-md pt-10 pb-4 px-4 mt-8">
            <span class="font-bold text-3xl ml-2">@("敬请")</span>
        </div>
        <div class="absolute top-0 left-6 w-16 h-16 rounded-md \
               bg-primary shadow-md flex justify-center \
                items-center text-white text-2xl">
            <img src="~/imgs/smile-fill.svg" width="24" height="24"/>
        </div>
    </div>

    <div class="relative">
        <div class=" flex flex-col w-full min-h-[12.5rem] \
          bg-white rounded-lg shadow-md pt-10 pb-4 px-4 mt-8">
            <span class="font-bold text-3xl ml-2">@("期待")</span>
        </div>
        <div class="absolute top-0 left-6 w-16 h-16 rounded-md \
               bg-primary shadow-md flex \
               justify-center items-center text-white text-2xl">
            <img src="~/imgs/heart-fill.svg" width="24" height="24"/>
        </div>
    </div>
</div>