#ProfilePanel {
    visibility: hidden;
    transform: scale(0.95);
    opacity: 0;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
}

#ProfilePanel.show {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}